{% extends 'nav.html' %}
{% load static %}
{% block title %}

Myshop

{% endblock title %}



{% block body %}


<div style="margin-top: 90px;">
</div>

  <section id="clients" class="clients clients">
    <div class="container">

      
    </div>
  </section><!-- End Clients Section -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 cart" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="title">
                    <div class="row">
                      
                        <div class="images">
                            <div class="img-holder">
                                <img src="{{ single_product.image.url }}" width="540px" height="auto" style="border-radius: 8px;">
                            </div>
                        </div>

                    </div>
                </div>    
                
            <!--<div class="back-to-shop"><a href="#">&leftarrow;<span class="text-muted mt-4" >Back to shop</span></a></div>-->
            </div>
            <div class="col-lg-6 summary">
                
                <form action="{% url 'add_cart' single_product.id %}" method="POST">
                    {% csrf_token %}
                <div class="basic-info">
                    <h1>{{ single_product.product_name }}</h1>
                   
                    <br>
          
                    <div class="product-price">RF {{ single_product.price }}</div>
            
                 <div class="description">
                    <p>{{ single_product.description }}</p>
                   <hr>
                    <h5>Choose Color</h5>
                   <select name="color" class="custom-select" required>
                    <option value="" disabled selected>Select Color..</option>
                    {% for c in single_product.variation_set.colors %}
                    <option value="{{ c.variation_value | lower }}">{{ c.variation_value | capfirst }}</option>
                    {% endfor %}
                   </select>
                  <br><br>
                  <h5>Select Size</h5>
                  <select name="size" class="custom-select" required>
                    <option value="" disabled selected>Select Size..</option>
                    {% for c in single_product.variation_set.sizes %}
                    <option value="{{ c.variation_value | lower }}">{{ c.variation_value | capfirst }}</option>
                    {% endfor %}
                   </select>
                  <hr>
                    <div class="options">
                        {% if single_product.stock == 0 %}
                        <h5 class="text-danger">Out Of Stock</h5>
                        {% else %}
                        <button type="submit" class="btn btn-primary"><span class="text">Add to Cart</span>&nbsp;<i class="fas fa-shopping-cart"></i></button>
                        {% endif %}
                    </div>
                </div>
              </form>
                
                
            </div>
            
                
                
              </div>
        
            
        </div> 
    </div>
</section>
<section id="faq" class="faq">
    <div class="container">

      
      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
       
        <form action="{% url 'submit_review' single_product.id %}" method="POST">
          {% csrf_token %}
          <h5>Write Your Review</h5>
          <div>
            <!-- rating Stars-->
  
            <label>How do you rate this product </label>
            <br>
            <div class="rate">
              <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
              <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
              <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
              <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
              <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
              <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
              <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
              <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
              <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
              <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
            </div>
            <br>
            Review Title: 
            <input type="text" class="form-control" name="subject">
            <br>
            <textarea name="review" rows="4" class="form-control"></textarea>
            <br>
            {% if user.is_authenticated %}
            <button type="submit" value="" class="btn btn-primary">submit REVIEW</button>
            {% else %}
              <p>You must be logged in to Submit Review <span><a href="{%url 'handlelogin' %}">Login Now</a></span></p>
            {% endif %}
          </div>
        </form>
      </div>
      <br>
      <div class="section-title" data-aos="fade-up">
        <h2>CUSTOMER REVIEW</h2>
      </div> 
      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-5">
            <img src="{% static 'assets/imgs/headphone.jpg' %}" alt="" width="40px" style="border-radius: 20px;display: inline;">&nbsp;
            <h6 style="display: inline;">John Saka</h6>
        </div>
        <div class="col-lg-7">
          <p>
            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

    

   

{% endblock body %}
