{% extends 'nav.html' %}
{% load static %}
{% block title %}

Myshop

{% endblock title %}



{% block body %}


<div style="margin-top: 90px;">
</div>

  <section id="clients" class="clients clients">
    <div class="container">

      
    </div>
  </section><!-- End Clients Section -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 cart" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="title">
                    <div class="row">
                      
                        <div class="images">
                            <div class="img-holder">
                                <img src="{{ single_product.image.url }}" width="540px" height="auto" style="border-radius: 8px;">
                            </div>
                        </div>

                    </div>
                </div>    
                
            <!--<div class="back-to-shop"><a href="#">&leftarrow;<span class="text-muted mt-4" >Back to shop</span></a></div>-->
            </div>
            <div class="col-lg-6 summary">
                
                <form action="{% url 'add_cart' single_product.id %}" method="POST">
                    {% csrf_token %}
                <div class="basic-info">
                    <h1>{{ single_product.product_name }}</h1>
                    <div class="rating-star">
                      <span>
                        <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                      </span>
                      &nbsp;<span>{{single_product.countReview}} reviews</span>
                    </div>
                    
                    <br>
          
                    <div class="product-price" style="color: black;">RF {{ single_product.price }}</div>
            
                 <div class="description">
                    <p>{{ single_product.description }}</p>
                   <hr>
                    <h5>Choose Color</h5>
                   <select name="color" class="custom-select" required>
                    <option value="" disabled selected>Select Color..</option>
                    {% for c in single_product.variation_set.colors %}
                    <option value="{{ c.variation_value | lower }}">{{ c.variation_value | capfirst }}</option>
                    {% endfor %}
                   </select>
                  <br><br>
                  <h5>Select Size</h5>
                  <select name="size" class="custom-select" required>
                    <option value="" disabled selected>Select Size..</option>
                    {% for c in single_product.variation_set.sizes %}
                    <option value="{{ c.variation_value | lower }}">{{ c.variation_value | capfirst }}</option>
                    {% endfor %}
                   </select>
                  <hr>
                    <div class="options">
                        {% if single_product.stock == 0 %}
                        <h5 class="text-danger">Out Of Stock</h5>
                        {% else %}
                        <button type="submit" class="btn btn-primary"><span class="text">Add to Cart</span>&nbsp;<i class="fas fa-shopping-cart"></i></button>
                        {% endif %}
                    </div>
                </div>
              </form>
                
                
            </div>
            
                
                
              </div>
        
            
        </div> 
    </div>
</section>
<section id="faq" class="section-content padding-y">
    <div class="container">

      
      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
       
        <form action="{% url 'submit_review' single_product.id %}" method="POST">
          {% csrf_token %}
          <h5>Write Your Review</h5>
          <div class="rating-star">
            <span>
              <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
              <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
              <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
              <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
              <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
            </span>
          </div>
          <div>
            <!-- rating Stars-->
  
            <label>How do you rate this product </label>
            <br>
            <div class="rate">
              <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
              <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
              <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
              <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
              <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
              <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
              <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
              <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
              <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
              <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
            </div>
            <br>
            Review Title: 
            <input type="text" class="form-control" name="subject">
            <br>
            <textarea name="review" rows="4" class="form-control"></textarea>
            <br>
            {% if user.is_authenticated %}
              {% if orderproduct %}
                <button type="submit" value="" class="btn btn-primary">submit REVIEW</button>
              {% else %}
              <p>You Must Purchase The Product To Post a Review</p>
              {% endif %}
            {% else %}
              <p>You must be logged in to Submit Review <span><a href="{%url 'handlelogin' %}">Login Now</a></span></p>
            {% endif %}
          </div>
        </form>
        <br>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong>{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
      <br>
      <div class="section-title" data-aos="fade-up">
        <h2>CUSTOMER REVIEW</h2>
        <div class="rating-star">
          <span>
            <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
          </span>
          &nbsp;<span>{{single_product.countReview}} reviews</span>
        </div>
        
      </div> 
{% for review in reviews %}
      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-5">
            <img src="{% static 'assets/imgs/headphone.jpg' %}" alt="" width="40px" style="border-radius: 20px;display: inline;">&nbsp;
            <h6 style="display: inline-block;">{{ review.user.full_name }}</h6>
            <div style="margin-left: 46px;" class="rating-star mb-0">
              <span>
                <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
              </span>
                  
            </div>
        </div>
        <div class="col-lg-7">
          <span class="date text-muted float-md-right">{{review.updated_at}} </span>
          <h6><strong>{{ review.subject }}</strong></h6>
          <br>
          <p>
            {{ review.review}}
          </p>
        </div>
      </div>
      <hr>
{% endfor %}

   

{% endblock body %}
